body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }

  .greenBackground {
    background-color: green;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }
  
  /* TODO: Add CSS for the rest of your solution below */

  .redExample3 {
    width: 80px;
    background-color: red;
  }
  .blueExample3 {
    width: 80px;
    background-color: blue;
  }

  /* Row4 */
  .redExample4 {
    flex-grow: 1;
    background-color: red;
  }
  .blueExample4 {
    width: 80px;
    background-color: blue;
  }

  /* Row5 */
  .centerRed {
    width: 40px;
    height: 40px;
    background-color: red;
    margin: auto;
  }

  /* Row6 */
  .redSix {
    flex-grow: 1;
    background-color: red;
  }
  .blueSix {
    width: 80px;
    background-color: blue;
  }

   /* Row7 */
   .redSeven {
    width: 80px;
    background-color: red;
   }
   .blueSevenBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
   }
   .blueSevenInside1 {
    background-color: blue;
    height: 20px;
    margin: 0px 0px 20px 0px;
   }
   .blueSevenInside2 {
    flex: 1;
    background-color: blue;
   }

     /* Row8. Эти методы также хороши с тем, что
     orange фиксированно будет, даже на мобильном */
   .orangeEightInside{
    width:80px;
    background-color: orange;
   }
   .spacerEight {
    flex-grow: 1; 
  }

     /* Row9 */
   .orangeNine {
    flex-grow: 1;
    background-color: orange;
   }
   .emptyNine {
    width: 20px;
   }

